-- Script mejorado de Carreando a Socha para KehilApp
-- Incluye todas las tablas necesarias + campos para empresa y verificación

IF NOT EXISTS (SELECT * FROM sys.databases WHERE name = 'kehilapp')
BEGIN
    CREATE DATABASE kehilapp;
END
GO

USE kehilapp;
GO

-- Crear tabla de roles primero
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Roles]') AND type in (N'U'))
BEGIN
    CREATE TABLE [dbo].[Roles](
        [RolID] [int] NOT NULL,
        [NombreRol] [nvarchar](50) NULL,
        PRIMARY KEY CLUSTERED ([RolID] ASC)
    );
    
    -- Insertar roles básicos
    INSERT INTO [dbo].[Roles] ([RolID], [NombreRol]) VALUES (1, 'Usuario');
    INSERT INTO [dbo].[Roles] ([RolID], [NombreRol]) VALUES (2, 'Empresa');
    INSERT INTO [dbo].[Roles] ([RolID], [NombreRol]) VALUES (3, 'Admin');
END
GO

-- Crear tabla de usuarios mejorada
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Usuarios]') AND type in (N'U'))
BEGIN
    CREATE TABLE [dbo].[Usuarios](
        [UsuarioID] [uniqueidentifier] NOT NULL DEFAULT (newid()),
        [Nombre] [nvarchar](100) NOT NULL,
        [Apellido] [nvarchar](100) NOT NULL,
        [Email] [nvarchar](100) NOT NULL,
        [Password] [nvarchar](256) NOT NULL, -- Cambiado de ContraseñaHash para compatibilidad
        [Telefono] [nvarchar](20) NOT NULL,
        [EsEmpresa] [bit] NOT NULL DEFAULT (0), -- Nuevo campo
        [Verificado] [bit] NOT NULL DEFAULT (0), -- Nuevo campo
        [TipoDeSupervisionKosher] [nvarchar](100) NULL,
        [TradicionJudia] [nvarchar](100) NULL,
        [RolID] [int] NOT NULL DEFAULT (1),
        [FechaRegistro] [datetime] NOT NULL DEFAULT (getdate()),
        [Activo] [bit] NOT NULL DEFAULT (1),
        PRIMARY KEY CLUSTERED ([UsuarioID] ASC)
    );
    
    -- Crear índice único para email
    CREATE UNIQUE NONCLUSTERED INDEX [UQ_Usuarios_Email] ON [dbo].[Usuarios] ([Email] ASC);
    
    -- Crear índices para mejorar rendimiento
    CREATE INDEX [IX_Usuarios_EsEmpresa] ON [dbo].[Usuarios] ([EsEmpresa] ASC);
    CREATE INDEX [IX_Usuarios_Verificado] ON [dbo].[Usuarios] ([Verificado] ASC);
    CREATE INDEX [IX_Usuarios_Activo] ON [dbo].[Usuarios] ([Activo] ASC);
END
GO

-- Insertar usuario admin de prueba
IF NOT EXISTS (SELECT * FROM Usuarios WHERE Email = 'admin@kehilapp.com')
BEGIN
    INSERT INTO [dbo].[Usuarios] ([Nombre], [Apellido], [Email], [Password], [Telefono], [EsEmpresa], [Verificado], [RolID])
    VALUES ('Admin', 'KehilApp', 'admin@kehilapp.com', 'admin123', '+54 11 1234-5678', 1, 1, 3);
END
GO

-- Insertar usuario empresa de prueba
IF NOT EXISTS (SELECT * FROM Usuarios WHERE Email = 'empresa@kehilapp.com')
BEGIN
    INSERT INTO [dbo].[Usuarios] ([Nombre], [Apellido], [Email], [Password], [Telefono], [EsEmpresa], [Verificado], [RolID])
    VALUES ('Empresa', 'Ejemplo', 'empresa@kehilapp.com', 'empresa123', '+54 11 9876-5432', 1, 1, 2);
END
GO

-- Crear tabla de categorías de lugar
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CategoriasLugar]') AND type in (N'U'))
BEGIN
    CREATE TABLE [dbo].[CategoriasLugar](
        [CategoriaID] [int] IDENTITY(1,1) NOT NULL,
        [NombreCategoria] [nvarchar](50) NOT NULL,
        PRIMARY KEY CLUSTERED ([CategoriaID] ASC)
    );
    
    -- Insertar categorías básicas
    INSERT INTO [dbo].[CategoriasLugar] ([NombreCategoria]) VALUES ('Sinagoga');
    INSERT INTO [dbo].[CategoriasLugar] ([NombreCategoria]) VALUES ('Restaurante Kosher');
    INSERT INTO [dbo].[CategoriasLugar] ([NombreCategoria]) VALUES ('Centro Comunitario');
END
GO

-- Crear tabla de lugares
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Lugares]') AND type in (N'U'))
BEGIN
    CREATE TABLE [dbo].[Lugares](
        [LugarID] [uniqueidentifier] NOT NULL DEFAULT (newid()),
        [Nombre] [nvarchar](100) NOT NULL,
        [Descripcion] [nvarchar](500) NULL,
        [Direccion] [nvarchar](200) NULL,
        [Ciudad] [nvarchar](100) NULL,
        [Pais] [nvarchar](100) NULL,
        [Latitud] [float] NULL,
        [Longitud] [float] NULL,
        [CategoriaID] [int] NULL,
        [Telefono] [nvarchar](20) NULL,
        [EmailContacto] [nvarchar](100) NULL,
        [SitioWeb] [nvarchar](150) NULL,
        [PrecioMembresia] [money] NULL,
        [PuedeHacerseSocio] [bit] NULL,
        [Horario] [nvarchar](300) NULL,
        [SupervisiónKosher] [nvarchar](100) NULL,
        PRIMARY KEY CLUSTERED ([LugarID] ASC),
        FOREIGN KEY ([CategoriaID]) REFERENCES [dbo].[CategoriasLugar] ([CategoriaID])
    );
END
GO

-- Crear tabla de empresas
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Empresas]') AND type in (N'U'))
BEGIN
    CREATE TABLE [dbo].[Empresas](
        [EmpresaID] [uniqueidentifier] NOT NULL DEFAULT (newid()),
        [UsuarioID] [uniqueidentifier] NOT NULL,
        [Rubro] [nvarchar](100) NULL,
        [PanelEstadisticas] [nvarchar](max) NULL,
        [ChatPrivado] [nvarchar](max) NULL,
        PRIMARY KEY CLUSTERED ([EmpresaID] ASC),
        FOREIGN KEY ([UsuarioID]) REFERENCES [dbo].[Usuarios] ([UsuarioID])
    );
END
GO

-- Crear tabla de productos kosher
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ProductosKosher]') AND type in (N'U'))
BEGIN
    CREATE TABLE [dbo].[ProductosKosher](
        [ProductoID] [uniqueidentifier] NOT NULL DEFAULT (newid()),
        [NombreProducto] [nvarchar](100) NOT NULL,
        [Marca] [nvarchar](100) NULL,
        [CodigoBarras] [nvarchar](50) NULL,
        [TipoSupervision] [nvarchar](100) NULL,
        [Categoria] [nvarchar](100) NULL,
        [ImagenUrl] [nvarchar](255) NULL,
        [EmpresaID] [uniqueidentifier] NULL,
        PRIMARY KEY CLUSTERED ([ProductoID] ASC),
        FOREIGN KEY ([EmpresaID]) REFERENCES [dbo].[Empresas] ([EmpresaID])
    );
END
GO

-- Crear tabla de objetos judíos
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ObjetosJudios]') AND type in (N'U'))
BEGIN
    CREATE TABLE [dbo].[ObjetosJudios](
        [ObjetoID] [uniqueidentifier] NOT NULL DEFAULT (newid()),
        [Nombre] [nvarchar](100) NOT NULL,
        [Categoria] [nvarchar](100) NULL,
        [Descripcion] [nvarchar](500) NULL,
        [ImagenUrl] [nvarchar](255) NULL,
        [Precio] [money] NULL,
        [EmpresaID] [uniqueidentifier] NULL,
        PRIMARY KEY CLUSTERED ([ObjetoID] ASC),
        FOREIGN KEY ([EmpresaID]) REFERENCES [dbo].[Empresas] ([EmpresaID])
    );
END
GO

-- Crear tabla de restaurantes
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Restaurantes]') AND type in (N'U'))
BEGIN
    CREATE TABLE [dbo].[Restaurantes](
        [RestauranteID] [uniqueidentifier] NOT NULL DEFAULT (newid()),
        [LugarID] [uniqueidentifier] NOT NULL,
        [TipoCocina] [nvarchar](100) NULL,
        [DeliveryDisponible] [bit] NULL,
        [SupervisiónKosher] [nvarchar](100) NULL,
        PRIMARY KEY CLUSTERED ([RestauranteID] ASC),
        FOREIGN KEY ([LugarID]) REFERENCES [dbo].[Lugares] ([LugarID])
    );
END
GO

-- Crear tabla de festividades
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Festividades]') AND type in (N'U'))
BEGIN
    CREATE TABLE [dbo].[Festividades](
        [FestividadID] [int] IDENTITY(1,1) NOT NULL,
        [Nombre] [nvarchar](100) NOT NULL,
        [FechaInicio] [date] NULL,
        [FechaFin] [date] NULL,
        [Descripcion] [nvarchar](500) NULL,
        [Costumbres] [nvarchar](1000) NULL,
        [Lecturas] [nvarchar](500) NULL,
        PRIMARY KEY CLUSTERED ([FestividadID] ASC)
    );
    
    -- Insertar festividades básicas
    INSERT INTO [dbo].[Festividades] ([Nombre], [Descripcion]) VALUES ('Rosh Hashaná', 'Año Nuevo Judío');
    INSERT INTO [dbo].[Festividades] ([Nombre], [Descripcion]) VALUES ('Yom Kippur', 'Día del Perdón');
    INSERT INTO [dbo].[Festividades] ([Nombre], [Descripcion]) VALUES ('Sucot', 'Fiesta de las Cabañas');
END
GO

-- Crear tabla de eventos virtuales
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EventosVirtuales]') AND type in (N'U'))
BEGIN
    CREATE TABLE [dbo].[EventosVirtuales](
        [EventoID] [uniqueidentifier] NOT NULL DEFAULT (newid()),
        [Nombre] [nvarchar](100) NOT NULL,
        [Tipo] [nvarchar](50) NULL,
        [FechaHora] [datetime] NULL,
        [LinkTransmision] [nvarchar](300) NULL,
        [Descripcion] [nvarchar](500) NULL,
        [LugarID] [uniqueidentifier] NULL,
        PRIMARY KEY CLUSTERED ([EventoID] ASC),
        FOREIGN KEY ([LugarID]) REFERENCES [dbo].[Lugares] ([LugarID])
    );
END
GO

-- Crear tabla de opiniones
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Opiniones]') AND type in (N'U'))
BEGIN
    CREATE TABLE [dbo].[Opiniones](
        [OpinionID] [int] IDENTITY(1,1) NOT NULL,
        [UsuarioID] [uniqueidentifier] NOT NULL,
        [LugarID] [uniqueidentifier] NOT NULL,
        [Puntuacion] [int] NOT NULL CHECK ([Puntuacion] >= 1 AND [Puntuacion] <= 5),
        [Comentario] [nvarchar](500) NULL,
        [Fecha] [datetime] NOT NULL DEFAULT (getdate()),
        PRIMARY KEY CLUSTERED ([OpinionID] ASC),
        FOREIGN KEY ([UsuarioID]) REFERENCES [dbo].[Usuarios] ([UsuarioID]),
        FOREIGN KEY ([LugarID]) REFERENCES [dbo].[Lugares] ([LugarID])
    );
END
GO

-- Crear tabla de donaciones
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Donaciones]') AND type in (N'U'))
BEGIN
    CREATE TABLE [dbo].[Donaciones](
        [DonacionID] [uniqueidentifier] NOT NULL DEFAULT (newid()),
        [UsuarioID] [uniqueidentifier] NOT NULL,
        [TipoDonacion] [nvarchar](100) NULL,
        [Descripcion] [nvarchar](500) NULL,
        [Estado] [nvarchar](50) NULL,
        [FechaRegistro] [datetime] NOT NULL DEFAULT (getdate()),
        PRIMARY KEY CLUSTERED ([DonacionID] ASC),
        FOREIGN KEY ([UsuarioID]) REFERENCES [dbo].[Usuarios] ([UsuarioID])
    );
END
GO

-- Crear tabla de compras
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Compras]') AND type in (N'U'))
BEGIN
    CREATE TABLE [dbo].[Compras](
        [CompraID] [uniqueidentifier] NOT NULL DEFAULT (newid()),
        [UsuarioID] [uniqueidentifier] NOT NULL,
        [ObjetoID] [uniqueidentifier] NOT NULL,
        [FechaCompra] [datetime] NOT NULL DEFAULT (getdate()),
        [Estado] [nvarchar](50) NULL,
        [MetodoPago] [nvarchar](100) NULL,
        PRIMARY KEY CLUSTERED ([CompraID] ASC),
        FOREIGN KEY ([UsuarioID]) REFERENCES [dbo].[Usuarios] ([UsuarioID]),
        FOREIGN KEY ([ObjetoID]) REFERENCES [dbo].[ObjetosJudios] ([ObjetoID])
    );
END
GO

-- Crear tabla de consultas IA
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ConsultasIA]') AND type in (N'U'))
BEGIN
    CREATE TABLE [dbo].[ConsultasIA](
        [ConsultaID] [int] IDENTITY(1,1) NOT NULL,
        [UsuarioID] [uniqueidentifier] NOT NULL,
        [Pregunta] [nvarchar](500) NOT NULL,
        [Respuesta] [nvarchar](max) NULL,
        [Fecha] [datetime] NOT NULL DEFAULT (getdate()),
        PRIMARY KEY CLUSTERED ([ConsultaID] ASC),
        FOREIGN KEY ([UsuarioID]) REFERENCES [dbo].[Usuarios] ([UsuarioID])
    );
END
GO

-- Crear tabla de pedidos de ayuda
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PedidosAyuda]') AND type in (N'U'))
BEGIN
    CREATE TABLE [dbo].[PedidosAyuda](
        [PedidoID] [uniqueidentifier] NOT NULL DEFAULT (newid()),
        [UsuarioID] [uniqueidentifier] NOT NULL,
        [TipoAyuda] [nvarchar](100) NULL,
        [Descripcion] [nvarchar](500) NULL,
        [Ciudad] [nvarchar](100) NULL,
        [Estado] [nvarchar](50) NULL,
        [FechaSolicitud] [datetime] NOT NULL DEFAULT (getdate()),
        PRIMARY KEY CLUSTERED ([PedidoID] ASC),
        FOREIGN KEY ([UsuarioID]) REFERENCES [dbo].[Usuarios] ([UsuarioID])
    );
END
GO

-- Crear tabla de fleteros
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Fleteros]') AND type in (N'U'))
BEGIN
    CREATE TABLE [dbo].[Fleteros](
        [FleteroID] [uniqueidentifier] NOT NULL DEFAULT (newid()),
        [UsuarioID] [uniqueidentifier] NOT NULL,
        [TipoVehiculo] [nvarchar](50) NULL,
        PRIMARY KEY CLUSTERED ([FleteroID] ASC),
        FOREIGN KEY ([UsuarioID]) REFERENCES [dbo].[Usuarios] ([UsuarioID])
    );
END
GO

-- Crear tabla de pedidos de envío
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PedidosEnvio]') AND type in (N'U'))
BEGIN
    CREATE TABLE [dbo].[PedidosEnvio](
        [PedidoEnvioID] [uniqueidentifier] NOT NULL DEFAULT (newid()),
        [DonacionID] [uniqueidentifier] NOT NULL,
        [FleteroID] [uniqueidentifier] NOT NULL,
        [Estado] [nvarchar](50) NULL,
        [FechaEnvio] [datetime] NULL,
        [TipoVehiculoRequerido] [nvarchar](50) NULL,
        PRIMARY KEY CLUSTERED ([PedidoEnvioID] ASC),
        FOREIGN KEY ([DonacionID]) REFERENCES [dbo].[Donaciones] ([DonacionID]),
        FOREIGN KEY ([FleteroID]) REFERENCES [dbo].[Fleteros] ([FleteroID])
    );
END
GO

-- Crear tabla de recursos de estudio
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RecursosEstudio]') AND type in (N'U'))
BEGIN
    CREATE TABLE [dbo].[RecursosEstudio](
        [RecursoID] [int] IDENTITY(1,1) NOT NULL,
        [Titulo] [nvarchar](100) NOT NULL,
        [Tipo] [nvarchar](50) NULL,
        [Url] [nvarchar](255) NULL,
        [Tema] [nvarchar](100) NULL,
        [Idioma] [nvarchar](50) NULL,
        PRIMARY KEY CLUSTERED ([RecursoID] ASC)
    );
    
    -- Insertar recursos básicos
    INSERT INTO [dbo].[RecursosEstudio] ([Titulo], [Tipo], [Tema], [Idioma]) 
    VALUES ('Torá Completa', 'Texto', 'Torá', 'Hebreo');
    INSERT INTO [dbo].[RecursosEstudio] ([Titulo], [Tipo], [Tema], [Idioma]) 
    VALUES ('Talmud Babilónico', 'Texto', 'Talmud', 'Arameo');
    INSERT INTO [dbo].[RecursosEstudio] ([Titulo], [Tipo], [Tema], [Idioma]) 
    VALUES ('Guía de Kashrut', 'Documento', 'Kashrut', 'Español');
END
GO

-- Mostrar resumen de la configuración
PRINT '=========================================';
PRINT '    🕯 KehilApp - Base de Datos Configurada';
PRINT '=========================================';
PRINT '';
PRINT '✅ Base de datos: kehilapp';
PRINT '✅ Tabla Usuarios con campos EsEmpresa y Verificado';
PRINT '✅ Usuario admin: admin@kehilapp.com / admin123';
PRINT '✅ Usuario empresa: empresa@kehilapp.com / empresa123';
PRINT '✅ Todas las tablas principales creadas';
PRINT '✅ Relaciones y foreign keys configuradas';
PRINT '✅ Datos de prueba insertados';
PRINT '';
PRINT '🚀 La base de datos está lista para usar con KehilApp!';
PRINT '';

-- Mostrar usuarios creados
SELECT 
    'Usuarios Creados:' as Info,
    Nombre + ' ' + Apellido as NombreCompleto,
    Email,
    CASE WHEN EsEmpresa = 1 THEN 'Sí' ELSE 'No' END as EsEmpresa,
    CASE WHEN Verificado = 1 THEN 'Sí' ELSE 'No' END as Verificado,
    RolID
FROM Usuarios;
GO
